[2019-12-13 09:10] kemingy opened #1 "response format"
According to [API guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md) and [GitHub API v3](https://developer.github.com/v3), the response format should be JSON, even for error responses.

So the response parameter may look like `Response(HTTP_201, HTTP_409=Error_409)`.

[2019-12-13 09:17] kemingy opened #2 "headers"
Users may need to define their customized headers contain some required parameters.

For example, Authorization and Cookie.

[2019-12-16 08:01] kemingy commented on #2
[Paypal API standard](https://github.com/paypal/api-standards/blob/master/api-style-guide.md#http-standard-headers)

[2019-12-19 03:35] kemingy commented on #1
Even though the interface is `Response(*args, **kwargs)`, you cannot use
* ❌ `Response(200=RespModel)` cause the key must obey Python naming rules
* ❌ `Response(HTTP_403)` cause `HTTP_403` is undefined

So the result is `Response('HTTP_403', HTTP_200=RespModel)`. (Not very elegant)

[2019-12-19 08:40] kemingy opened #3 "support more frameworks"
## Async

- [x] starlette

## Sync

- [x] Falcon
- [x] Flask

[2019-12-23 16:21] kemingy commented on #3
- flask #5
- falcon #4
- starlette #6

[2019-12-23 16:21] #3 closed

[2019-12-23 16:22] #1 closed

[2019-12-23 16:23] kemingy commented on #2
[Notes for API design guideline](https://gist.github.com/kemingy/d8943e65156071abfdfe5a636d212c77)

[2019-12-23 16:26] kemingy opened #7 "test"
- [ ] `utils`
- [ ] `Response`
- [ ] `plugins`
- [ ] `spec`
- [ ] `validate`

[2019-12-23 16:28] kemingy opened #8 "basic document and demo"
- [x] README demo
- [x] sphinx rst file
- [x] comments

[2019-12-24 10:32] #2 closed

[2019-12-31 09:26] kemingy opened #12 "consistent responses and exceptions"
Currently, `starlette` will return its own `starlette.Response` like `JSONResponse`, while `flask` and `falcon` return an inherit instance of `pydantic.BaseModel`. To reduce users' work, all of these should return the frameworks' own type.

On the other hand, exceptions are not caught by `spectree`, so it won't verify if it's the correct format as defined.

[2020-01-02 08:55] kemingy commented on #12
`flask.abort` will return a HTML page instead of JSON body.
`falcon.HTTPError` has some extra HTTP Status Codes.

[2020-01-02 10:19] kemingy commented on #12
`flask` response is fixed in #14, `falcon` response is fixed in #13.

[2020-01-05 17:04] #7 closed

[2020-01-06 04:26] #8 closed

[2020-01-09 08:25] kemingy opened #21 "falcon endpoint function doesn't get the right `self`"
This is due to the decorator.

[code]

And the `parse_name` function for falcon endpoint function should return the class name instead of the method name. Since the method names are all the same.

[2020-01-09 08:45] kemingy commented on #21
Ref:
* https://www.youtube.com/watch?v=W7Rv-km3ZuA
* https://github.com/GrahamDumpleton/wrapt

[2020-01-09 10:22] kemingy commented on #21
`functools.partialmethod` works for the `self` part but it will introduce bugs in `tags`

[2020-01-12 10:20] #21 closed

[2020-02-10 11:57] deepalikumar opened #25 "`@api.validate` seems to not work with starletee class endpoint"
Hi.

I have this starlette endpoint.
[code]

This endpoint is mounted as:

[code]

Invoking it throws an exception.
[code]

Does this not work with starlette endpoint?

[2020-02-10 15:44] kemingy commented on #25
Currently, this library doesn't support starlette endpoint. This should be a new feature.

[2020-02-14 10:11] kemingy opened #28 "Refactor plugin structure"
related to #21 #25

## Reason

* Falcon uses the instance of classes while Starlette endpoint uses the classes (this may not affect this library)
* Starlette supports functions and `HTTPEndPoint` classes (sync & async), which makes it hard to implement a general validator
* Starlette functions decorator will get `(scope, receive, send)` instead of `(request)`
* wraps functions and methods is a pai

[2020-02-15 03:17] #28 closed

[2020-02-15 03:18] kemingy commented on #25
@deepalikumar Hi, this should be fixed in the latest version(0.2.7).

[2020-02-21 02:14] #25 closed

[2020-03-04 07:45] assem-ch opened #31 "Feedback"
Thank you for this library, this will be very useful for people who wants to use pydantic in their APIs.

I  had some issues when I tried the lib:
-  The JSON body is always requested in swagger/redoc in every endpoint even if it's a GET or need no body
- The headers are working for me when I use postman, but in documentation they are shown as an object and they are not passed to endpoints.
- Can

[2020-03-04 10:17] kemingy commented on #31
Thanks for your feedback.

1. I don't really understand this issue. Is it related to #22 ? If not, can you give me some details?
2. I find the Swagger frontend API console has some bugs for `headers`. I'll check this.
3. Currently the config https://github.com/0b01001001/spectree/blob/6abcab8a0946c65975f29702f1fad4ef320b159f/spectree/config.py#L18 support to change the `/apidoc` to other paths. Th

[2020-03-04 11:52] assem-ch commented on #31
1.   yes
<img width="1423" alt="Screen Shot 2020-03-04 at 3 46 18 PM" src="https://user-images.githubusercontent.com/315228/75877015-2c20a700-5e30-11ea-9a67-76ff70797bb3.png">

2. can you present the headers documention as this:
<img width="631" alt="Screen Shot 2020-03-04 at 3 50 53 PM" src="https://user-images.githubusercontent.com/315228/75876983-2034e500-5e30-11ea-8116-555eb14f24c2.png">
4.
[c

[2020-03-04 15:17] kemingy opened #32 "[doc] better tutorial"
- [ ] summary + description
- [ ] configs
- [ ] `Response`
- [ ] returns

[2020-03-04 16:43] kemingy commented on #31
1. Is this because of you passed `json` argument in `validate()`? I didn't find this error when I run the demo code in README.

For 1 and 4, can you give me some examples to reproduce this error?

[2020-03-04 17:06] assem-ch commented on #31
1. that its for every endpoint , not just json, even GET has it. I am using the version in pypi, may be not the same as master's?
4. try to not set the `resp` argument

[2020-03-05 09:44] kemingy commented on #31
For 1, I'll remove JSON body in GET.

For 4, if you are using `flask` as the backend service, you should return what you want. For example: `return jsonify(msg='hello')`. I cannot reproduce this. Can you give me a minimal reproducible example?

[2020-03-05 15:35] assem-ch commented on #31
4. Sorry my mistake, I didn't use the jsonify , the lib I was using before was doing json-ification automatically

I can contribute with code , so please just let me if you need any help

[2020-03-05 15:37] assem-ch commented on #31
1. please remove json body even in posts when there is no JSON specified.
6. (new) for the `json` param in validate, what do you think about using the name `body` instead

[2020-03-06 02:10] kemingy commented on #31
1. It won't have JSON request body in swagger unless you use `validate(json=MyJSONobject)`. If you still get this error, please offer some example code to reproduce it.
2. JSON is not the only HTTP content-type. So it should be specific as `json`.

[2020-03-08 06:22] kemingy opened #33 "Swagger doesn't support schema in headers for the API querying"
#31

the correct way is

parameters |  
-- | --
0 |  
name | "api_key"
in | "header"
required | false
type | "string"

[2020-03-08 06:39] kemingy commented on #33
`cookies` has the same problem.

[2020-03-08 07:27] kemingy commented on #33
Just found that the `curl` cmd generated by Swagger is correct. But the real request is wrong.

Never mind, not my bug. 😺

[2020-03-08 07:42] #33 closed

[2020-03-08 08:07] kemingy commented on #31
The header issue in Swagger page should be fixed in v0.2.8.

[2020-03-08 08:17] #32 closed

[2020-03-12 02:21] kemingy opened #36 "starlette path variables are invalid in swagger frontend"
For example, `/{num:int}` should be displayed as `/{num}`.

[2020-03-12 02:38] #36 closed

[2020-03-13 08:29] yedpodtrzitko opened #39 "[BUG] validation of array[]-like parameter in query string"
**Describe the bug**
Hi,
consider the following model and request:

[code]

~/stats?events[]=CREATED&events[]=DEACTIVATED~

edit above:
[code]

**Expected behavior**
- request validation will pass

**Error Message**
[code]

**Python Information (please complete the following information):**
 - Python 3.8.0
 - spectree==0.3.0
 - Flask==1.1.1

**Additional context**

For now I'm using this ugly woka

[2020-03-13 09:12] kemingy commented on #39
Thanks for your feedback.

You almost make it. Can try

[code]

Then this will introduce another problem: all the values are list. So I have to write a function to unwrap all the single-element-list.

By the way, you don't need to add `[]` in the query. It seems this is not how Werkzeug does.

[2020-03-13 09:21] yedpodtrzitko commented on #39
that was the first thing I tried, but as you said - everything is a list afterwards.

this is not as easy - how do you tell apart what's an actual list with one item, and what should be unwrapped?

that's the way how axios/vuejs send it by default.

[2020-03-13 09:37] kemingy commented on #39
You are right. We need to find a clean solution for unwrapping.

https://stackoverflow.com/a/24728298/6037286 I guess there is no standard for this. So let's keep it the same as what framework does.

[2020-03-15 09:33] kemingy commented on #39
I have checked the query in `flask`, `falcon`, `starlette`, and found that:

* `flask`: `MultiDict`
* `falcon`: `dict` (value will be a list if there are multiple values for a key)
* `starlette`: `ImmutableMultiDict`

There is an issue in FastAPI about query format for a list of elements: https://github.com/tiangolo/fastapi/issues/739. Another issue about complex type in the query: https://github.

[2020-03-15 13:43] yedpodtrzitko commented on #39
Hi, thanks for digging into this. I am also afraid there's no silver bullet for this issue due to the support of multiple frameworks. As such, I'd leave it up to each individual to handle it as needed per their use-case. Here's a few things which would make it easier for me when I was monkeypatching that myself:

- I had to inherit `FlaskPlugin` and copypaste the whole `validate()`, where I added

[2020-03-15 16:07] kemingy commented on #39
Thanks for your advice. I have created a PR #41 for this. Please help check it.

[2020-03-15 16:35] yedpodtrzitko commented on #39
That was fast. I'll close this issue now, and move further discussion into the MR.

[2020-03-15 16:35] #39 closed

[2020-03-15 16:55] yedpodtrzitko opened #42 "Adopt Black for code formatting?"
Hello again,
[Black](https://github.com/python/black) is becoming the de facto a standard for formatting Python code. By following the rule "if you can automate it, automate it", this can eliminate some tedious manual formatting, and enforce uniform code style from other potential contributors.

How would you feel about it?

[2020-03-16 02:37] kemingy commented on #42
Currently, I'm using [autopep8](https://github.com/hhatto/autopep8). I'm not sure which one is better. I'll do some research later. My personal Python coding style is derived from:

* [PEP8](https://www.python.org/dev/peps/pep-0008/)
* [Google Python Style Guide](https://google.github.io/styleguide/pyguide.html)
* [The Hitchhiker’s Guide: Code Style](https://docs.python-guide.org/writing/style/)

[2020-03-16 04:13] kemingy commented on #31
I'll close this issue. Feel free to re-open it if you still have the same questions.

[2020-03-16 04:13] #31 closed

[2020-04-11 18:24] onecrayon opened #45 "Async Falcon support?"
I'm currently experimenting with Falcon 3.0.0a1 and was wondering if you have plans to add an async Falcon plugin for SpecTree (3.0 will support both WSGI and ASGI applications)?

If not, this might be something I would be interesting in contributing since I really like that SpecTree provides a way to both handle input/output (de)serialization with Pydantic *and* autogenerates an OpenAPI document

[2020-04-12 09:11] kemingy commented on #45
Yes. I'm waiting for the stable release.

For what I know, to support the async part we only need to implement an async validator. So I prefer to reuse other methods. If possible, I hope we can make some changes to the current Falcon plugin class or create a subclass.

If you are interested, here are some changes you may need to pay attention to:
* https://github.com/0b01001001/spectree/blob/acdf8

[2020-04-12 15:39] onecrayon commented on #45
Heh, fair enough.

I'll see what I can cobble together as I continue to hack away at this project, and will submit a PR if I find something that seems useful. I agree that having two different validation functions isn't particularly elegant.

[2020-06-14 05:44] zero-shubham opened #47 "[BUG] Query parameters default values can be found in openapi.json but don't show up in docs."
Query parameters default values can be found in openapi.json but don't show up in docs.

![Docs](https://user-images.githubusercontent.com/17028205/84585708-1871dd00-ae30-11ea-80f1-1d7275474dbb.png)
![openapi.json](https://user-images.githubusercontent.com/17028205/84585709-1a3ba080-ae30-11ea-83fd-3ac6c1c50f57.png)

[2020-06-14 06:19] zero-shubham commented on #47
I have a fix, may i create a PR?

Below is the needed code change, Idea is for query we will only pass on BaseModel, so it's properties should added in the schema rather than the BaseModel itself.
![Code to change](https://user-images.githubusercontent.com/17028205/84586182-e3b45480-ae34-11ea-8a35-47c39fca169d.png)

Below is the result.
![Selection_276](https://user-images.githubusercontent.com/17

[2020-06-14 07:25] kemingy commented on #47
Thanks for your feedback. I'm checking this problem.

This problem is more complex than I thought. We need to consider nested models. For example:

[code]

I feel that it still needs to be a schema instead of all the keys here.

[2020-06-14 08:15] zero-shubham commented on #47
Aha when query has to be an enum.. Got it. Will look into too. Thanks!

[2020-06-14 08:42] kemingy commented on #47
https://stackoverflow.com/a/46172865

This may help you. In swagger, default value is different from example values. While redoc can handle this very well.

[2020-06-14 09:00] zero-shubham commented on #47
In my PR i did a mistake, following is how "required" should be evaluated
![required_evaluation](https://user-images.githubusercontent.com/17028205/84589346-706a0d00-ae4b-11ea-81b2-18b90076747a.png)

By nested models if meant the following, I think it works fine. Sorry if I understood this wrong.
![Selection_277](https://user-images.githubusercontent.com/17028205/84589370-94c5e980-ae4b-11ea-85d6-a

[2020-06-14 10:44] kemingy commented on #47
https://swagger.io/docs/specification/adding-examples/

Using default values in the example is not the standard way. Try to use examples.

Check the `pydantic` doc: https://pydantic-docs.helpmanual.io/usage/schema/#schema-customization

[2020-06-14 11:38] zero-shubham commented on #47
Oh now i understand what you wanted to say sorry, but i do want it to be default values and not example values. like mentioned here - https://swagger.io/blog/api-development/unlocking-the-spec-the-default-keyword/

[2020-06-14 12:29] kemingy commented on #47
Quoted from the "Common mistakes when using the default value".

[2020-06-14 12:43] kemingy commented on #47
But you reminded me that I should unwrap the `query` schema, which will make the example uses the default value when no example is provided. This is related to the Swagger schema example bug.

Check this PR https://github.com/0b01001001/spectree/pull/49/files#diff-989812b700f0968eb753c6323c557140R47-R55.

Again, you should not treat the default values as examples because it's not the standard way,

[2020-06-14 13:21] zero-shubham commented on #47
I think i need better deep understanding of OpenAPI specs, thanks.
And yes unwrapping query parameter will acheive what i wanted.
You did a great job with this project!

[2020-06-14 13:21] #47 closed

[2020-06-14 13:36] zero-shubham opened #50 "[ENHANCEMENT] Support for doc strings."
This is available at ```func.__doc__```

[2020-06-14 13:38] #50 closed

[2020-07-01 02:32] kemingy opened #51 "callback handler for the validation part"
Sometimes people may need to do something else when there is a validation error, like recording the metric. Since the validation happens before the endpoint function, there should be a way to do this.

[2020-07-01 10:29] kemingy commented on #51
Since there are two validations (before and after the endpoint function), so there should be two hooks: `before` and `after`.

Also, if the user wants to record the endpoint function time without validation, it's necessary to access these two part.

[2020-07-01 11:11] kemingy commented on #51
## What parameters need for the hooks?

According to the [falcon hook](https://falcon.readthedocs.io/en/stable/api/hooks.html), there should be:

* req
* resp
* resource
* validation error

[2020-07-01 11:14] kemingy commented on #51
* global hooks for every endpoint function (register when initilize the spectree)
* specific endpoint hooks (register on the validation decorator)

These hooks are usually used to handle some validation errors. The global one should be enough.

[2020-07-02 03:01] kemingy commented on #51
The specific one is useful when people want to  record some metrics on the specific endpoint function. It's also easy to support both.

[2020-07-02 07:38] #51 closed

[2020-07-15 06:38] kemingy opened #53 "[break changes]: init spectree with plugin instead of name, use `body` instead of `json`"
To keep the interface clean and flexible, it's better to pass the plugin class instead of backend framework name strings. Also, the sync/async flag should be written to the plugin class as described in https://github.com/0b01001001/spectree/pull/46/files#diff-485ad20a22f45089777317b26137dc90R13-R15

Since the body can be serialized in multiple ways, like JSON, MessagePack, ProtoBuf, etc. Although

[2020-08-13 06:22] #42 closed

[2020-09-06 10:55] honeydev opened #55 "Default description for 422 Unprocessable Entity response"
Hi, i use your library in several work projects with flask. And each project i add description for default 422 HTTP Error again and again. Maybe, we can add default exception model?
My solution looks like this:
https://github.com/0b01001001/spectree/compare/master...honeydev:add-422-default-description?expand=1
And we have description out of box :
![Screenshot_20200906_235336](https://user-images.

[2020-09-06 13:51] kemingy commented on #55
Thanks for your feedback. You can create a PR for this.

Here is something you need to check:

* https://github.com/0b01001001/spectree/blob/49d85ec20b7c3756a774c10e32d7be248a7b2a14/spectree/utils.py#L94-L95 this can prevent overwriting users' customized 422 error
* https://github.com/samuelcolvin/pydantic/blob/296d929904735690af85e4af71a5ddbdbf8e7885/pydantic/error_wrappers.py#L109-L123 you misse

[2020-09-09 14:21] honeydev commented on #55
Okay, i'll try

[2020-09-15 21:39] samyhajal opened #56 "[BUG] Authorization header not usable in Swagger UI"
**Describe the bug**
When defining a custom header model with a field `Authorization`,
[code]
and using it as such:
[code]

the rendered openapi.json contains `Authorization` as a parameter:
[code]

which is unusable, because it is restricted by swagger-ui per https://swagger.io/docs/specification/describing-parameters/#header-parameters: "Note: Header parameters named Accept, Content-Type and Aut

[2020-09-16 14:27] kemingy commented on #56
Thanks for your feedback. I'll try to find a solution.

[2020-10-01 23:44] natasha-aleksandrova opened #58 "[FEATURE] objects passed into validate() to be accessible in endpoint"
Coming from flask_pydantic library, spectree has similar signature using validate() function and providing models for validation.

However, in flask_pydantic you get access to your model directly and in spectree it gets converted to dictionary from an object. It would be nice to persist that object.

Example:
[code]

[2020-10-02 01:33] kemingy commented on #58
This can be accessed with `request.context.json`.

[2020-10-02 03:30] natasha-aleksandrova commented on #58
@natasha-aleksandrova I get a dictionary not the pydantic model object

[2020-10-02 03:33] natasha-aleksandrova commented on #58
@kemingy thank you!!! I was using request.json not through context - it works!

[2020-10-02 03:33] #58 closed

[2020-10-06 05:47] kemingy opened #60 "[Feature] support `http.HTTPStatus`"
https://docs.python.org/3/library/http.html#http.HTTPStatus

[2020-10-10 03:00] kemingy commented on #60
Unless it's a dictionary.

[2020-10-10 03:00] #60 closed

[2020-10-12 11:55] csy18 opened #63 "[BUG]description for query paramters can not show in swagger ui"
Hi, when I add a description for a schema used in query, it can not show in swagger ui but can show in Redoc
[code]

![截屏2020-10-12 下午7 54 52](https://user-images.githubusercontent.com/60063723/95743785-de70f480-0cc4-11eb-857b-fffd3d7e9cdd.png)
![截屏2020-10-12 下午7 53 59](https://user-images.githubusercontent.com/60063723/95743805-e5980280-0cc4-11eb-99ae-11e6439bae02.png)

[2020-10-12 12:45] kemingy commented on #63
Thanks for your feedback. I found that even the demo in README doesn't work now (only for swagger). I guess it's related to the swagger part. I'll check the details.

[2020-10-12 13:31] #63 closed

[2020-10-14 22:05] natasha-aleksandrova opened #66 "[BUG] swagger 2.0 errors"
**Describe the bug**

I'm using this library to generate swagger:2.0 spec and ran into few issues with the generated spec via .spec attribute.

1. editor.swagger.io expects `swagger: '2.0'` for the version instead of the generated `openapi: '2.0'`
2. under paths, the correct key is `operationId` but generated version has `operationID` which errors out as invalid
[code]

**To Reproduce**
Steps to r

[2020-10-15 01:55] kemingy commented on #66
May I know the reason to use 2.0 instead of 3.0?

Yeah, this needs to be `swagger: '2.0'` or `openapi: '3.0.n'`

Welcome PR. To make it compatible with swagger 2.0, maybe we need to do a lot of work. Check the official document about the difference between swagger 2.0 and OpenAPI 3.0: https://swagger.io/blog/news/whats-new-in-openapi-3-0/ .

[2020-10-15 16:46] natasha-aleksandrova commented on #66
After spending some time on this yesterday, yes too many changes to make it support 2.0 as well.

We use Google Endpoints which only supports 2.0 version, it's a gateway service that uses openapi spec (in this case 2.0).

I have another workaround for making it work with google endpoints.. but operationID is only invalid in openapi3.0 and should be fixed to operationId.

[2020-10-16 02:27] kemingy commented on #66
OK. Maybe we don't have to do this now.

I see. Then you can create a PR to fix this. Thanks.

[2020-10-22 18:55] scott2b opened #67 "Standard Starlette static mount breaks openapi.json endpoint [BUG]"
**Describe the bug**
Adding a static mount to the routes will result in failure to load openapi.json, with an internal server error.

**To Reproduce**
Steps to reproduce the behavior:

Given the provided Starlette example (with the needed fix to the api mount path, as it is incorrectly provided in the example):
 - Add a static mount to the routes:

[code]
 - navigate to apidoc/openapi.json

**Expe

[2020-10-23 05:20] scott2b commented on #67
A possible workaround here is to have a separate application for mounting static, as well as any other routes you might not want documented/validated with spectree, and to mount the spectree app within that. I am pretty new to Starlette, so not entirely sure if this is an acceptable usage pattern, but at a glance this seems to work for me.

So, taking the reference example, and doing something lik

[2020-10-23 05:32] kemingy commented on #67
Thanks for your feedback. I think it's related to the `StaticFiles` class. I'll fix this by the end of this week.

[2020-10-23 05:56] #67 closed

[2020-10-23 06:01] kemingy commented on #66
I think this can be fixed by changing this line: https://github.com/0b01001001/spectree/blob/baf1f8bd5fe5679dc2b21cbddc67c482c77c50a8/spectree/spec.py#L166

Feel free to submit a PR.

[2020-10-23 10:24] kemingy opened #69 "use template for redoc and swagger HTML pages"
check [Python string template](https://docs.python.org/3/library/string.html#string.Template)

[2020-10-23 18:54] natasha-aleksandrova commented on #66
Ive got fixes in my fork just haven't had a chance to get the PR going - will submit a fix shortly. Thanks!

[2020-10-25 02:28] #66 closed

[2020-11-03 17:08] kemingy commented on #55
Can check the version [v0.3.11](https://github.com/0b01001001/spectree/releases/tag/v0.3.11)

[2020-11-03 17:08] #55 closed

[2020-11-17 06:00] ninoseki opened #82 "[Feature request] Make the validation error more verbose"
It is difficult to tell why validation error(s) happend  because Spectree only returns "response validation error".

[code]
(https://github.com/0b01001001/spectree/blob/master/spectree/plugins/flask_plugin.py#L156-L160)

How about making the message more verbose?

For example, FastAPI returns a verbose validation error response.
https://github.com/tiangolo/fastapi/blob/e1758d107ea5eede358cfdbf69ae

[2020-11-17 07:53] kemingy commented on #82
Actually, spectree will return a 422 validation error with details:

https://github.com/0b01001001/spectree/blob/cc4cc530ce0fdc18ba87d43cdc39a6d7eeaee37b/spectree/plugins/flask_plugin.py#L138-L142

As for the response part, if there is a validation error, that means the developer doesn't return the correct instance of the response schema. That's why I use 500 which means that's the developers' fau

[2020-11-17 10:20] ninoseki commented on #82
Thank you for replying. I understand your policy.

[2020-11-17 10:20] #82 closed

[2020-11-18 02:51] csy18 opened #83 "[BUG]can not get params by application/x-www-form-urlencoded"
when frontend pass params using application/x-www-form-urlencoded, spectree can not get params by query, is there any other ways to get it?
![截屏2020-11-18 上午10 42 59](https://user-images.githubusercontent.com/60063723/99476404-767c9080-298b-11eb-80f1-021d79309522.png)
![截屏2020-11-18 上午10 48 06](https://user-images.githubusercontent.com/60063723/99476496-9d3ac700-298b-11eb-9f58-fc4746f7316f.png)
![

[2020-11-18 07:20] kemingy commented on #83
Thanks for your feedback.

When you use `application/x-www-form-urlencoded`, the data is in the body. This is different from call `GET localhost:8000/?user=hello&msg=hello&index=1`. That's why you cannot get it from the `request.args`.

But flask provides a `request.form` to support this behavior, which is not a very common. Instead, sending data in a JSON format with `application/json` is more ge

[2020-11-18 09:06] csy18 commented on #83
now I need to get params by `application/x-www-form-urlencoded`, but I can not get it by spectree, would you like to provide this function?

[2020-11-18 10:33] kemingy commented on #83
Yes, it's possible. I'll try to detect the content type. So if you use `application/x-www-form-urlencoded`, the data will be parsed and store in `json`.

Let me create a PR for this.

[2020-11-18 11:27] kemingy commented on #83
@csy18 try version 0.3.12

[2020-11-23 10:46] kemara opened #85 "[BUG] There is no way to create swagger file upload"
**Describe the bug**
As `json` takes a pynatic model and there is no Pyndatic field with type `file`  I could not find a way to upload a file.

Does anybody know of a way to create a swagger file upload in Flask?

[2020-11-23 14:38] kemingy commented on #85
Thanks for your feedback.

Pydantic doesn't have a `file` type. Actually, flask will create a `werkzeug.datastructures.FileStorage` object. To support this, I need to provide a `File` type.

[code]

I'll create a PR for this.

[2020-11-24 04:05] kemingy commented on #85
The problem is that cannot generate the schema because `FileStorage` is not a pydantic model.

I guess we need to create another model like this:

[code]

[2020-11-25 07:45] kemara commented on #85
Thank you for your help but I was still unable to create a functioning swagger doc that can upload a file.

When I try to add it to a `spectree.validate` as json or header an error accurs:
` Value not declarable with JSON Schema, field: name='file' type=FileStorage required=True`

As I understood you we need to add `FlaskFile` into spectree so it can handle it. Is there any way I could help with t

[2020-11-25 14:48] kemingy commented on #85
I found a solution. It may not be elegant.

[code]

The code above will work with this commit: https://github.com/0b01001001/spectree/commit/53936d41463c0a7020dc2174b06b6b6187c3028d

Let me know if you have any ideas.

[2020-12-08 15:39] #69 closed

[2020-12-09 07:16] sunlin92 opened #88 "[BUG] query works error"
**Describe the bug**
query always fails validation.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
[code]
**Error Message**
![image](https://user-images.githubusercontent.com/40912737/101596834-c1d90a80-3a30-11eb-832a-9f09967e103a.png)

**Desktop (please complete the following information):**
 - OS [Linux]
 - Version [Debian 10]

**Python Information (please compl

[2020-12-09 07:42] kemingy commented on #88
Hi, I tried your example on macOS 10.15.7, but I can't reproduce this error. I don't think it's related to OS.

Can you try:

* run the `curl` command on your terminal
* print the request arguments with the `before` handler

[code]

[2020-12-09 08:04] sunlin92 commented on #88
Thanks.
I switched the version of Python from 3.6.9 (Pypy) to 3.9.0 (Cpython) and it works.

[2020-12-09 08:12] #88 closed

[2020-12-09 09:31] kemingy commented on #88
Interesting question. I tried PyPy and got the same error. I found that this is caused by the `pydantic.BaseModel.parse_obj` applied to the `werkzeug.ImmutableMultiDict`.

I'll create a PR to fix this.

Thanks for your feedback.

[2020-12-09 09:58] kemara commented on #85
Thank you again for your help but I was still not able to make it work.
Here is the complete flask application where I tried to make it work:

[code]
The swagger looks like:
<img width="1412" alt="Screenshot 2020-12-09 at 10 57 54" src="https://user-images.githubusercontent.com/11758747/101614560-65182880-3a0d-11eb-9ba5-f4b2ce4b94eb.png">

Is there anything wrong that I am doing?

[2020-12-09 14:55] kemingy commented on #85
Hi, I think your code is correct. But sadly swagger doesn't support the customized type of object. I think you can find the definition in swagger schemas below or redoc page (`/apidoc/redoc`).

[2020-12-09 15:00] kemingy commented on #88
Try the latest version: 0.3.14. This should work with pypy.

[2020-12-10 17:36] cgaunet opened #92 "[BUG] Incompatibility with OpenAPI V3 specifications"
(First of all, I've opened this PR: https://github.com/0b01001001/spectree/pull/91 in order to fix the bug)

**Describe the bug**
When generating an openapi schema for V3, we have these warnings that pop up: `object instance has properties which are not allowed by the schema: [\"definitions\"]`

**To Reproduce**
Steps to reproduce the behavior:
 - Having a nested model defined

**Expected behavior

[2020-12-11 01:02] #92 closed

[2020-12-11 14:46] i404788 opened #94 "[BUG] Pydantic custom root doesn't work as expected"
**Describe the bug**
Using `__root__` from pydantic doesn't work in falcon (json).

**To Reproduce**
Create a Model with custom `__root__` as described in https://pydantic-docs.helpmanual.io/usage/models/#custom-root-types.

Example:
[code]

It seems that spectree doesn't recognize `__root__` as a special entry.
[code]

**Desktop (please complete the following information):**
 - OS: Windows
 - Ver

[2020-12-11 14:59] kemingy commented on #94
Here is an example:

[code]

So if I send a request with [httpie](httpie.org): `http ':8000/' hello=world`, I will get the correct output.

[code]

Maybe you can provide an example to reproduce the bug?

[2020-12-11 15:46] i404788 commented on #94
The error is in response validation.

[code]

With both `waitress-server` and `gunicorn` it will give back:
[code]

[2020-12-11 16:02] kemingy commented on #94
I see. I think this is caused by `BaseModel.validate()`. I should use `BaseModel.parse_obj()` instead. Will create a PR to fix this.

Thanks.

[2020-12-11 17:14] #94 closed

[2020-12-13 17:10] sunlin92 opened #96 "[Feature]Can't support list type swagger response"
like:
[code]

[2020-12-14 01:42] kemingy commented on #96
One possible way is to use `__root__` [pydantic __root__](https://pydantic-docs.helpmanual.io/usage/models/#custom-root-types).

[code]

By the way, you don't need to parse `request.context.json` again. For the return statement, you can use `return ItemList.parse_obj([item, item, item])` or `return ItemList(__root__=[item, item, item])`.

[2020-12-14 03:07] sunlin92 commented on #96
I really appreciate your help. 😄
Are there any plans to support this syntax（`HTTP_200=List[Item]`)？
It looks like be easier to read and use.

Thanks again

[2020-12-14 03:14] kemingy commented on #96
This syntax looks nice. But I feel it can be difficult to support. Because it means the library should be able to verify any types:

* `List[Item]`
* `Dict[str, Item]`
* `Dict[str, List[Item]]`
* ...

I'm not sure if there is an easy way to do this. Let me know if you have any ideas.

[2020-12-14 04:08] sunlin92 commented on #96
FastAPI seems to support this syntax, I will create a pr when i complete it if needed.

[2020-12-14 06:34] kemingy commented on #96
Sure. Thanks for your help.

On Mon, 14 Dec 2020 at 12:08, 水月 <notifications@github.com> wrote:

[2020-12-25 20:51] yoursvivek commented on #96
Data validation is easy. Pydantic provides a function to load data of any supported type or a combination thereof.

One just needs to handle registry into `spec.models`.

https://pydantic-docs.helpmanual.io/usage/models/#parsing-data-into-a-specified-type

[2020-12-31 13:26] nervecell23 opened #97 "[BUG]Openapi.json cannot be properly loaded when host includes sub-domain"
**Describe the bug**
Openapi.json cannot be properly loaded when host includes sub-domain

**To Reproduce**
For example:
Given the hostname: http://123.4.0.0/api/
Access the doc: http://123.4.0.0/api/apidoc/swagger
The Swagger UI will attempt to load the openapi.json at /apidoc/openapi.json where the json does not exist

**Expected behavior**
The Swagger UI should attempt to load the openapi.json

[2020-12-31 15:16] kemingy commented on #97
For the swagger part, if you set up the path `SpecTree('flask', path='api/apidoc')`, you should be able to access the swagger page in `<URL>/api/apidoc/swagger`.

For the web query part, if you need all the route paths begin with `/api`, you'd better use a blueprint with route `/api`.

[2021-01-02 13:56] arminsoltan opened #98 "flask-restful problem: request body and parameters doesn't appear in documentation"
![Screenshot from 2021-01-02 17-25-23](https://user-images.githubusercontent.com/33868879/103458663-8d9af600-4d1f-11eb-9fc4-c20545db08d2.png)

When I decorate post method in resource class with api.validate(json=User) , request body and parameters doesn't appear in documentation

[code]

[2021-01-02 16:25] nervecell23 commented on #97
Thank you for the reply! I followed your suggestion but the issue persists.
Currently my host is: `http://123.4.0.0/api`
I tried: `SpecTree(path='api/apidoc')`, however by doing that, the endpoint of the Swagger page would become the following:
`http://123.4.0.0/**api/api**/apidoc/swagger`
Also, the Swagger UI would attempt to load openapi.json at `http://123.4.0.0/api/apidoc/openapi.json`, while

[2021-01-03 02:20] kemingy commented on #97
Can you provide some code to reproduce this error? So I can help you find a solution.

[2021-01-03 02:29] kemingy commented on #98
Are you using the `flask-restful` plugin? I'm not sure if it's compatible.

[2021-01-03 22:30] nervecell23 commented on #97
I'm sorry I cannot provide you with any code. To reproduce the error, please image an host with subdomain, for example:
**www.myhost.com/api:7000**

[2021-01-05 22:14] nervecell23 commented on #97
Thanks again for the help. I've changed the DNS setting to use a host without encoded forward slash, which should solve the problem.

[2021-01-05 22:14] #97 closed

[2021-01-11 13:10] yoursvivek commented on #53
I had some thought about these issues, while making changes for #100. I'm jotting them down.

1. `body` and `payload` are two well known identifiers for what's currently called `json`. Renaming will clean up the function signature of any naming convention bias towards one [de]serialization method. `json` commonly refers to `json` built-in module or one of many drop-in json module replacements.

2.

[2021-01-12 21:05] yoursvivek commented on #53
All of them seem good to me.
1. `body`
2. Plurals.
3. `<content-type: Handler>`
4. Semvar for deprecating old keywords.

[2021-01-14 10:05] chaitanyanettem opened #103 "[BUG] When using Flask MethodViews, request and response schemas aren't associated with the api paths"
**Describe the bug**
When using flask method views, even though the request and response schemas are generated in the open api spec, they are not associated with api path. So the paths field in the openapi json is this for the example below -

[code]

**To Reproduce**
You can run the following python code and check the generated openapi spec.

[code]

You can see the generated openapi spec here -

[2021-01-14 16:06] kemingy commented on #103
Thanks for your feedback. Can you help me check if #104 can fix this?

[2021-01-15 02:41] kemingy commented on #98
Hi, SpecTree now supports Flask ViewMethod. Check the PR #104

Here is an example:

[code]

[2021-01-15 06:39] #98 closed

[2021-01-15 06:39] #103 closed

[2021-01-15 07:30] chaitanyanettem commented on #103
This worked. Thank you so much for the quick resolution!

[2021-03-03 09:20] jonathanlintott opened #107 "[Feature] Allow for extra keywords in a routes' parameter specifications"
The specification keywords for routes are currently hardcoded to only generate `name`, `in`, `schema`, `required`, `description` as is dictated [here](https://github.com/0b01001001/spectree/blob/master/spectree/utils.py#L43), specifically this block of code:
[code]

However there are other keywords that might want to be added for different routes and models. For example the `style` and `explode` k

[2021-03-05 03:13] kemingy commented on #107
Thanks for your advice.

One way to implement this is to use the `pydantic.Field(extra)`.

[code]

So we can get the details from `MyModel.schema()`.

[2021-03-05 15:11] jonathanlintott commented on #107
Such that the `parse_params` function would change to do something like:
[code]

[2021-03-05 15:24] kemingy commented on #107
Yeah. LGTM. If you want to create a PR for this, that'll be great if you can also add some test cases.

[2021-03-18 10:16] amarynets opened #111 "[Feature] Delete UnprocessableEntity from Response class"
In `__init__` method of `Response` class, we have the following code
[code]
It creates UnprocessableEntity and add it into response.
[code]
Maybe there is another way to not add 422 code into response?
`@api.validate(json=BaseRequest, resp=Response(HTTP_200=BaseResponse, HTTP_422=None))`
doesn't create schema but add 422 code into response

[code]

[2021-03-18 10:26] kemingy commented on #111
The reason why 422 is added to the response is that you have defined something that requires validation. For example, `BaseResponse`. So when there is a validation error, this library will return 422 to the client.

If you don't need any validation, then there won't be a 422. For example:

`@spec.validate()` # this won't add 422

[2021-03-31 10:36] jonathanlintott opened #113 "[BUG] Incorrect spec definition produced when using flask's `any` converter"
The flask plugin currently produces the following spec for a route parameter that uses the `any` converter:
[code]
As seen here -> https://github.com/0b01001001/spectree/blob/master/spectree/plugins/flask_plugin.py#L80

However the `any` converter behaviour is defined as the following:

As seen here -> https://github.com/pallets/werkzeug/blob/8be9899df5cf8a930d961fc5295001744373da0b/src/werkzeug/r

[2021-03-31 16:43] kemingy commented on #113
Thanks for your feedback. Feel free to create a PR.

On Wed, Mar 31, 2021, 18:37 jonathanlintott ***@***.***>
wrote:

[2021-04-01 15:15] #113 closed

[2021-04-01 15:16] #83 closed

[2021-04-07 14:40] #107 closed

[2021-04-20 19:51] mzaglia opened #118 "How to deal with authentication"
How authentication and authorization should be used with spectree?

[2021-04-21 02:49] kemingy commented on #118
Currently, spectree will validate the data and generate the OpenAPI document. If the validation failed, it will return 422 with details. It doesn't support special Auth parameters #56 and status code 401 or 403.

If you want to use this library with authentication and authorization, you can define the schema for headers and do the auth by yourself.

I know this is not perfect. Welcome PR.

[2021-04-22 12:19] alexted commented on #53
- **headers**
- **cookies**
- **query** (or mb **query_params**, **query_args**)

[2021-04-23 13:15] alexted commented on #118
The ability to specify whether the endpoints are protected by authorization (per endpoint personally or/and globally on app level) and if so, to specify what kind of authorization is uses - a very needed feature. Please, add it.
Subscribed to this topic.

[2021-04-24 03:29] luolingchun opened #119 "[New Feature] Support offline environment to use this library"
Can we consider integrating **static files** to ensure that **swagger UI** can be used in offline environment？

[2021-04-24 04:55] luolingchun opened #120 "[New Feature] Add a description to the tag"
I read the source code of tags：

[code]

https://github.com/0b01001001/spectree/blob/v0.4.2/spectree/spec.py#L212

Please consider adding a **description** field to the tag(Because I want to describe the tag in Chinese)，just like official documents：
https://swagger.io/specification/

**. . .**

## Tag Object

Adds metadata to a single tag that is used by the Operation Object. It is not mandatory t

[2021-04-24 05:16] luolingchun opened #121 "[New Feature] Support securitySchemes"
I am using JWT token in OpenAPI.
I understand that **`securityschemes`** defines security schemes. Please consider adding **`securityschemes`** in **`Components object`**

https://github.com/0b01001001/spectree/blob/v0.4.2/spectree/spec.py#L236

[code]
just like:

[code]

[2021-04-24 07:01] kemingy commented on #119
I just checked the static files. It mainly contains two sources:

* https://fonts.googleapis.com
* https://cdn.jsdelivr.net/npm/

There are several solutions:

1. store these files in this library as extra data
    * need to update with this library
2. pack these files into another library and use `pip install spectree[offline]` to install
    * can update separately

By the way, GitLab already su

[2021-04-24 08:12] kemingy commented on #120
Check #122

[2021-04-24 13:10] luolingchun commented on #119
Thank for your reply.
In my opinion, the first scheme is simpler for users.  As before, users do not need to consider configuring static files.
If you agree, I can submit pull requests or you can handle it yourself.

[2021-04-24 15:10] kemingy commented on #119
Welcome PR.

I have some concerns about this one.

1. The offline mode should be an opt-in feature. By default, we should use the CDN to get the latest version.
2. I don't want to add lots of static files into the code and update them later. There are some other ways to pack them into the Python library. Maybe downloading static files in the packaging stage or use the post-installation hook.

[2021-04-24 16:33] #120 closed

[2021-04-25 11:29] luolingchun commented on #119
Thank you, I have stored static files into my project, and have implemented offline swagger and redoc (refer to your source code and add two routes)

[2021-04-30 14:10] AndreiDrang commented on #121
Had the same "trouble" in my flask application. Just update spec value after app register command.
![image](https://user-images.githubusercontent.com/16991365/116704824-838aba80-a9d4-11eb-97fe-97f6b6e6cc9a.png)
![image](https://user-images.githubusercontent.com/16991365/116706624-7bcc1580-a9d6-11eb-8bf7-6f7fde1d9537.png)

But now I have new trouble - how to add "auth required" flag to specific end

[2021-04-30 15:05] kemingy commented on #121
Thanks.

Hi @AndreiDrang Welcome PR!

[2021-05-04 09:38] AndreiDrang commented on #121
#127

[2021-05-11 07:41] O1dLiu opened #129 "[BUG] The form with the same name will be overwritten"
**Describe the bug**
The form with the same name will be overwritten，even in different modules

**To Reproduce**
Steps to reproduce the behavior:
 /forms1/form1.py
[code]

/forms2/form2.py
[code]

app
[code]

**Expected behavior**
The query parameters of `test1`  and `test2` should be different，because they are different forms with the same name.
However, the query parameters are the same as form2

[2021-05-12 03:47] waterglass commented on #129
By replacing the key as `f'{model.__moudle__}.{model.__name__}'`,
here is the code
[code]
The request form works, however, it doesn't work with response form.
Someting went wrong when rendering the docs.
![image](https://user-images.githubusercontent.com/6902843/117915163-4c42d480-b317-11eb-9df4-e5de6d1d3750.png)

[2021-05-12 12:45] kemingy commented on #129
You can search `model.__name__` in this repo. There are several parts related to this one.

* `spec.py`
* `response.py`
* `utils.py`

You need to change all of them.

[2021-05-13 13:21] #129 closed

[2021-05-14 12:52] parisni opened #131 "Openapi description for path variable"
So far, I can't find a way to add a description for `path` variables. On the flask side, It would be cool to have a parameter such `doc` as [flask-restfull](https://flask-restplus.readthedocs.io/en/stable/swagger.html#documenting-with-the-api-doc-decorator) provides :
[code]

[2021-05-14 13:05] kemingy commented on #131
Check this example: https://github.com/0b01001001/spectree/blob/36c4d18834eb2bbe19098d97e24036baca3943e2/examples/flask_demo.py#L55-L76

For the path variables, this library doesn't provide a strong validation with `pydantic`. It will use the default path converter.

But of course you can still get the correct OpenAPI document for path variables.

[2021-05-14 18:07] parisni commented on #131
Sorry I cannot find out in your example how to add a description to `source`  and `target` path variable. I can see how to add constraints on them such as length but no description field that would appear in the openapi specs

[2021-05-15 14:40] kemingy commented on #131
Sorry I misunderstood your question before. Currently, this library doesn't support descriptions for the path variables. You can use function description for the path variables.

One possible way is to add another path model. But I'm not sure if we should validate the input again.

[code]

Feel free to give more feedbacks about this.

[2021-05-25 15:17] alexted opened #132 "[BUG] Incorrect display of fields when schemes have the same names"
**Describe the bug**
When serializers schemes (not only for req/resp for one endpoint) have the same name (it is actual too when nested models of schemes for different endpoints have the same names), the /redoc and /swagger does not display the field data correctly.

**To Reproduce**
#### base
[code]

### endpoint /post
#### for req
[code]
#### for resp
[code]

### endpoint /put
#### for req
[code

[2021-05-25 16:22] kemingy commented on #132
Thanks for your feedback. Is it similar to #129? Can you try the PR #130? This one is merged into master, but I haven't released it.

You can download the master branch and install with `make install`.

[2021-05-25 18:11] ariciputi commented on #119
Hi,
I was looking for a way to serve the swagger/redoc static files without relaying on CDNs. In my case my app runs in an environment in which the outgoing requests to CDNs can be blocked.

@luolingchun can you elaborate on how you solved this? @kemingy are you willing to accept a PR adding an optional configuration for an alternative source for static files?

Thanks

[2021-05-26 01:15] luolingchun commented on #119
@ariciputi You can go to my GitHub homepage，find the `flask-openapi3` project and read the source code。The idea is to use `blueprint` manage the swagger/redoc static files。

[2021-05-26 05:46] alexted commented on #132
Tried. It's isn't worked for my case.

[2021-05-26 07:19] ariciputi commented on #119
@luolingchun thanks.

[2021-05-27 02:50] kemingy commented on #132
This is related to #129 but that PR #130 doesn't fix all the bugs. When you have nested `pydantic.BaseModel`, the inner models still overwrite each other. That's why you get something weird in the schemas.

Will find a way to fix this.

[2021-05-27 03:48] kemingy commented on #132
@alexted Hi, can you help me check if #133 can fix this problem?

[2021-05-27 08:16] alexted commented on #132
Yeap, seems good!

[2021-05-27 08:26] alexted commented on #132
Tried. Yeap, seems good!

[2021-05-27 11:09] vaosilva commented on #118
Yes. Very true. Subscribed as well.
I started using spectree for a flask API I'm contributing to and only later on I noticed the lack of this.
The pull request that implements these features failed the linting due to 3 lines being too long... 😅

[2021-05-27 11:19] kemingy commented on #118
Will merge it to another branch and fix the lint today.

[2021-05-27 11:21] #132 closed

[2021-05-27 11:39] vaosilva commented on #118
@kemingy Thanks a lot, and congrats for this awesome project!

[2021-05-27 13:18] #56 closed

[2021-05-27 13:19] #118 closed

[2021-05-27 13:19] #121 closed

[2021-06-01 16:13] mortymacs opened #135 "[BUG] 'api.validate' doesn't work on GET endpoints"
**Describe the bug**
`@api.validate` doesn't work on `GET` requests.

**To Reproduce**
The sample code in https://github.com/0b01001001/spectree/blob/master/examples/falcon_demo.py#L56

[code]

**Expected behavior**
I expect at least It supports validation over `query` but not for the request body as GET doesn't have any request body.

**Error Message**
[code]

**Desktop (please complete the follo

[2021-06-02 03:15] kemingy commented on #135
Thanks for your feedback. This is due to some changes in falcon 3. Will fix this later.

[2021-06-02 09:19] kemingy opened #136 "leak of code structure in the openapi json file"
Related issues:

* #129
* #132

Related PRs:

* #130
* #133

Possible solutions:

* hash the path

[2021-06-02 09:32] mortymacs commented on #135
The PR is ready https://github.com/0b01001001/spectree/pull/137

[2021-06-02 10:23] #135 closed

[2021-06-02 13:38] kemingy opened #139 "redundant endpoints in falcon 3"
This is related to the `bypass` function in `falcon_plugin.py`.

[code]

The function above works fine with falcon 3 but doesn't work with falcon 2.

[2021-06-02 15:16] #139 closed

[2021-06-04 16:22] #136 closed

[2021-06-15 16:57] ropeladder opened #148 "How to specify mimetype for request body"
I have a POST endpoint that needs to be `multipart/form-data`. I've got the endpoint working as expected, but I can't figure out how to tell spectree to expect `Content-type: multipart/form-data` instead of `application/json` for the purposes of generating the OpenAPI doc. Is there any way of doing this?

I did try creating a schema for request headers, but I couldn't figure out how to specify hea

[2021-06-16 05:39] kemingy commented on #148
So far it doesn't support to change the content type. Check the discussion here: https://github.com/0b01001001/spectree/issues/53#issuecomment-678603927.

[2021-06-17 17:25] scott2b opened #152 "[BUG] Redoc is showing a rogue "Authentication" section"
**Describe the bug**
In the section headers in the left navigation, Redoc shows a section called Authentication, even if no Authentication tags are defined. If endpoints are defined with an Authentication tag, another Authentication section is created.

**To Reproduce**
Steps to reproduce the behavior:
 - Create a spectree spec
 -
**Expected behavior**
No undefined sections

**Python Information (

[2021-06-18 14:00] kemingy commented on #152
Thanks for your feedback. Can you help me check if #153  fix this?

[2021-06-23 06:52] Vlczech commented on #152
@kemingy: Sorry for that mistake :innocent:  I can confirm, that this section has gone now after I commented security_scheme in my code (and was here without whit fix with commented security_scheme) :+1:

[2021-06-23 16:23] #152 closed

[2021-06-25 11:12] danstewart opened #155 "[QUESTION] Logging validation errors"
I'm struggling to log validation errors.

I've tried setting the log level on the backend and the config but no luck
[code]

Found PR #38 which added a log call to flask_plugin but I don't see that anymore.

I also looked at the Falcon example as advised in the README but I'm still not sure how to get the logs out.

Do I need to create a custom `JSONValidator` to get the log?

Thanks

[2021-06-25 11:22] danstewart commented on #155
Got it working using hooks
[code]
Is this the suggested way or is there a better way?

Thanks

[2021-06-25 11:28] kemingy commented on #155
No.

Yes, this is the suggested way. You can find that the default handler is used to get the log https://github.com/0b01001001/spectree/blob/e3b3b94b9c56f64e983f8bfefd845e01a930d320/spectree/utils.py#L123-L140.

You can register this handler when you create the `SpecTree` instance, or add the handler to a specific endpoint in `spec.validate()`.

[2021-06-25 11:29] danstewart commented on #155
Thanks for the info!

[2021-06-25 11:29] #155 closed

[2021-06-30 01:18] #45 closed

[2021-07-04 04:36] onecrayon commented on #96
Has anyone undertaken this issue yet? It’s something I need and I was wondering if I should take a swing at it or if it’s already underway.

[2021-07-04 05:45] kemingy commented on #96
This issue has been inactive for a long time. @onecrayon Feel free to create a WIP PR and link to this issue. Thanks for your help.

[2021-07-12 09:36] RysnikM opened #158 "How to use spectry with aiohttp"

[2021-07-12 09:40] kemingy commented on #158
Sorry. This one is not supported yet. If you are looking for an async Python web server with spectree, I would recommend `Starlette` or `Falcon 3`.

[2021-07-12 09:41] #158 closed

[2021-07-13 08:39] Michae1Weiss commented on #135
This error is still present.

[code]

[code]

Without `@api.validate(tags=[catalogue]) ` this endpoint works fine

How can I get around this error and why does it occur?

[2021-07-13 08:51] mortymacs commented on #135
Yes, the issue still exists. It's under progress: https://github.com/0b01001001/spectree/pull/141

[2021-07-15 00:16] mcardish opened #159 "Enforcing security on endpoints?"
-

[2021-07-15 00:47] #159 closed

[2021-07-19 15:06] danstewart opened #160 "[FEATURE REQUEST] Return pydantic model directly and skip validation"
Hi,

Is there any way to return pydantic models directly, or to skip the validation?

I tend to do something like
[code]

This doesn't play nicely with pydantic `alias`-es though.

I _think_ the issue is that my model returns the real name and then the spectree validation fails since pydantic expected the alias name.

Can I skip the validation part but keep the route-to-model association for the d

[2021-07-19 15:31] kemingy commented on #160
Thanks for your feedback.

One way to solve this is that you can return a raw JSON instead of building an instance of `pydantic.BaseModel` and get the JSON. (So actually the service will validate the returned data twice)

For example: `return jsonify(alias_name=message)`. Let me know if this helps.

[2021-07-19 16:26] danstewart commented on #160
Thanks - will give that a try.

Main reason I'm using the models directly is I have some logic that converts SQLAlchemy instances into the models (basically the pydantic ORM mode).

Would this be a feature you would consider if I submit a PR?

[2021-07-20 01:12] kemingy commented on #160
Yeah, sure.

[2021-07-26 10:52] dmitry-engineer opened #161 "How to add multiple fields in security?"
I want to add multiple fields in one auth flow in Swagger. As a result, expected TWO fields (partner-id and token for example) and ONE button "Authorize"

[2021-07-26 13:17] kemingy commented on #161
Sorry, I don't get what you mean. Can you provide some examples?

[2021-07-26 14:02] dmitry-engineer commented on #161
Yes, sure thing! Now I have the following security schema:
[code]
And security attribute in endpoint validation
[code]

 I have the button "Autorize" In Swagger. When I click it, there are 2 forms for authorization in the modal window. The first form is for PartnerID and the second one is for PartnerToken. But I need one form with 2 fields

[2021-07-26 14:05] dmitry-engineer commented on #161
There are 2 authorization methods, but I need 1 authorization method with 2 these fields (PartnerID and partner-access-token)

[2021-07-27 02:10] kemingy commented on #161
Correct me if I'm wrong. I think you are looking for https://swagger.io/docs/specification/authentication/#multiple.

I think that's a bug in the code. Furthermore, I'll try to fix this.

Also, I found that the swagger frontend always shows two authorization fields, no matter they are AND or OR. But the lock icon is different. AND required two fields to be filled, while OR only requires one of the

[2021-07-27 03:06] kemingy commented on #161
Now you can do this:

[code]

[2021-07-27 03:47] dmitry-engineer commented on #161
Thank you for the speed! When it will be released so I can add new version in my requirements file?

[2021-07-27 03:49] #161 closed

[2021-07-27 03:52] kemingy commented on #161
https://github.com/0b01001001/spectree/releases/tag/v0.6.1

[2021-08-11 18:09] dmitry-engineer opened #164 "How can I hide url from Swagger Schema"
I need to create an endpoint, but it shouldn't be visible in Swagger. How can I do it?

[2021-08-12 01:25] kemingy commented on #164
[code]

[2021-08-12 07:01] #164 closed

[2021-09-01 10:35] dmitry-engineer opened #165 "Structure of validation error response"
Is it possible to change the structure of a response when we have a validation error? I'd like to create my own error handling standard and it would be nice to have the opportunity to change your existing structure

[2021-09-01 10:49] kemingy commented on #165
Yes. Check the `before` and `after` handler.

Test example: https://github.com/0b01001001/spectree/blob/6752970d2b58a0dae937c1af75eac990fde91896/tests/test_plugin_flask.py#L21-L23

Doc: https://spectree.readthedocs.io/en/latest/utils.html#spectree.utils.default_after_handler

[2021-09-01 12:53] dmitry-engineer commented on #165
Cool, thank you

[2021-09-01 12:54] #165 closed

[2021-09-14 09:36] Vlczech opened #166 "[BUG] Global security is overriden by each endpoint security option + wrong format"
Issue is described in comment of incorrect fix: https://github.com/0b01001001/spectree/commit/59de4b6c02a1cd833a1fcf52d8e045a27ba2f79c#commitcomment-56433449

[2021-09-14 14:01] kemingy commented on #166
@Vlczech Thanks for your feedback. Please help me check if #167 fix this.

[2021-09-16 10:55] Vlczech commented on #166
@kemingy: OK, i will check, but give me please few days - I'll get to that at the earliest next week

[2021-09-16 11:53] kemingy commented on #166
No problem. Take your time.

[2021-09-20 15:14] danstewart commented on #160
Hi, just to let you know I still intend on doing this - I just haven't had the time yet.

[2021-09-20 15:15] kemingy commented on #160
Sure. Take your time.

[2021-09-22 09:50] Vlczech commented on #166
I tested it on our code, including some modification in security (no security and so on) and now it seems OK on our code :+1:

[2021-09-22 12:01] #166 closed

[2021-10-25 01:48] KhanMechAI opened #173 "[BUG]: PyTest fails when using @api.validate"
**Describe the bug**
spectree doesnt appear to handle the test/simulated response, or gets in the way some how. It returns an empty media, which then fails validation

**To Reproduce**
See test files below

**Expected behavior**
expect response to be returned and validation not to fail.

**Error Message**
Paste the error message.

**Desktop (please complete the following information):**
 - OS: Win

[2021-10-26 09:42] #173 closed, assigned to nobody

[2021-11-06 09:44] #131 closed

[2021-11-06 10:15] kemingy commented on #111
Fixed in:
* #178

[2021-11-06 10:15] #111 closed

[2021-11-11 13:33] abiezersifontes opened #183 "[BUG]"
**Describe the bug**
I got the an error in the url host/apidoc/redoc because of the security schemas i think

**To Reproduce**
Steps to reproduce the behavior:
 - use next constructor
 `
openapi = SpecTree("flask", after=api_after_handler, security_schemes=[
        SecurityScheme(
            name="Authorization",
            data={
            "type": "http",
            "scheme": "bearer",

[2021-11-11 13:58] kemingy commented on #183
I think for the `security` you should use something like this:

[code]

Check the [How-To](https://github.com/0b01001001/spectree#how-to) part in the README for more details.

[2021-11-11 14:10] abiezersifontes commented on #183
Now I see, did not understand so well the security parameter,  thanks man you saved mi life

[2021-11-11 14:14] #183 closed

[2021-12-19 22:39] igibek opened #187 "[Security] Workflow pythonpackage.yml is using vulnerable action actions/checkout"
The workflow pythonpackage.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE

[2021-12-20 00:58] kemingy commented on #187
Thanks for your advice.

[2021-12-20 00:59] #187 closed

[2022-01-04 07:53] dhruvkb opened #189 "Setting Swagger fields in `info`"
**Describe the bug**
Swagger provides the option to define many more fields under `info` such as:
- `termsOfService`
- `license`
  - `license.name`
  - `license.url`
- `contact`
  - `contact.email`

There is no documented way to set these fields in the generated Swagger file.

**Expected behavior**
There should be a way to configure these fields.

**Python Information (please complete the followin

[2022-01-04 08:05] kemingy commented on #189
Thanks for your feedback.

* Ref: https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#info-object

Will find a time to support this.

[2022-01-06 15:45] kemingy commented on #189
Hi @dhruvkb, this feature has been supported.

You can try it with version >= 0.7.0

Check the example: https://github.com/0b01001001/spectree/blob/a2125ccfa8af046f51b5a47ed2f6cdbed2a41fbe/examples/falcon_demo.py#L14-L20

[2022-01-06 15:45] #189 closed

[2022-01-06 15:48] dhruvkb commented on #189
@kemingy am I correct in understanding that it only supports the following fields?

- title
- version
- description
- termsOfService
- contact
- license

[2022-01-06 15:50] kemingy commented on #189
@dhruvkb Correct. According to the [OpenAPI Spec - Info](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#info-object)

[2022-01-18 22:38] guilhermelou opened #194 "[BUG] Not Finding Blueprint routes when using url_prefix"
## Not Finding Blueprint routes when using url_prefix

It seems that the lib doesn't load Blueprints routes if the Blueprint uses a prefix, I've opened a PR explaining the issue and the possible solution in depth here: https://github.com/0b01001001/spectree/pull/193#issue-1107430572

[2022-01-19 07:32] ttekampe opened #195 "Swagger Oauth redirect not working"
**Describe the bug**
I am trying to set up swagger with oauth2 flow. I set the the `authorizationUrl` in the `SecurityScheme` that I pass to the `SpecTree` constructor. On the swagger page that is created by spectree I can click the Authorize button, which redirects me to my identity provider's login page. If I login, I am redirected back to the swagger with some query parameters that include the

[2022-01-19 13:13] #194 closed

[2022-01-20 17:24] kemingy commented on #195
Thanks for your feedback. I didn't test this feature before.

So I just follow the Swagger OAuth2 + Google OAuth2 documents.

The SecurityScheme I use is

[code]

I found that the redirect URL is incorrect. Here is a good answer: https://stackoverflow.com/a/54251778

After I change this in the `spectree/page.py`, it works.

[code]

I'll create a PR.

[2022-01-20 17:36] kemingy commented on #195
Hi @ttekampe you can try the following PR to see if it works for you.

* #196

[2022-01-21 10:31] ttekampe commented on #195
@kemingy I just tested, the redirect is working. Thanks a lot!

I have one remaining question about the `client_id`. When you hit the Authorize button, you are asked for it (see screenshot). I saw other swaggers that have the field pre-populated and was wondering how to achieve this with spectree.

![image](https://user-images.githubusercontent.com/11041432/150511646-57dfb8d0-a4a5-4f9f-b042-9a6988

[2022-01-21 15:08] kemingy commented on #195
I found a document about this:

* https://swagger.io/docs/open-source-tools/swagger-ui/usage/oauth2/

Will add this feature.

[2022-01-21 17:21] kemingy commented on #195
Hi @ttekampe, you can install the following PR and try to add the `client_id` when you init `SpecTree`.

https://github.com/0b01001001/spectree/blob/b574d1d3f526dc87c8d55d6ab1a06edbc9396298/examples/security_demo.py#L45-L50

* #196

[2022-01-24 13:04] ttekampe commented on #195
Hi @kemingy,

thanks a lot for your help! The client_id is now prepopulated and also the redirect back to the swagger from the authorization server is working.
However, the swagger does not pick up the JWT. So it is not added to the request headers such that my APIs return unauthorized.

The URL I am redirected to from the auth endpoint looks like this:
[code]
(is there a `?` missing between URL a

[2022-01-25 16:28] kemingy commented on #195
Hi @ttekampe, thanks for your feedback. I added this `swagger/oauth2-redirect.html` page to the `SpecTree`. You can try it with the latest update in the following PR:

* #196

I encountered a "TypeError: NetworkError when attempting to fetch resource." error. I think it's related to the CORS.

* https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMissingAllowOrigin
* https://develope

[2022-01-26 14:54] ttekampe commented on #195
Hi @kemingy ,

I just tested your latest changes and it works now.

Thank you very much!

[2022-01-26 15:33] #195 closed

[2022-02-09 11:40] DataGhost opened #198 "[BUG] Paragraph formatting is removed from openapi.json"
When I annotate an operation in this way:

[code]

It actually ends up in openapi.json as `{"summary": "Title", "description": "paragraph 1 paragraph 2", ...}` and the entire description is shown on one line in both ReDoc and Swagger:

### Title

paragraph 1 paragraph 2

Obviously I'd like my paragraph formatting to be maintained. A workaround is adding `<br />` instead of newlines but that seems

[2022-02-09 16:36] xordoquy commented on #198
Same here.
Seems related to https://github.com/0b01001001/spectree/commit/fe12b69e1748e1988b9db15fe8cb312580d0da65 which replaces all the `\n` with spaces.

[2022-02-09 16:53] DataGhost commented on #198
Actually, just tinkering with it now, I think the entire line with the call to `strip()` should be removed as well. The `inspect.getdoc(func)` call already removes most superfluous whitespace by uniformly removing indentation on the left side. Calling `strip()` on top of this also removes any extra whitespace at the beginning of a line, effectively making inline code blocks impossible. Removing th

[2022-02-09 17:06] kemingy commented on #198
Thanks for your feedback @DataGhost.

You are right. The `inspect.getdoc()` will call `cleandoc()` function. I think we don't need to clean it again.

Your patch v2 looks good to me. Feel free to create a PR.

[2022-02-10 01:36] #198 closed

[2022-02-17 02:07] punkneverdie opened #202 "[BUG] Use on a nested function resulted in index error."
**Describe the bug**

Use the decorator on a nested function results in the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The should work for nested function that is not in a HTTPEndpoint class. If it must check the `__qualname__`, it should also check the size of args[].

**Desktop (please complete the following information):**
 - OS: Lin

[2022-02-17 04:58] kemingy commented on #202
Hi @punkneverdie, thanks for your feedback.

Will try to fix this ASAP.

[2022-02-17 10:46] #202 closed

[2022-02-17 15:59] punkneverdie commented on #202
Awesome, thanks!

[2022-02-18 15:14] dima-engineer opened #204 "[Bug] supporting json array in request body"
When I try to send an array as a request body, I get an exception.
[code]

[2022-02-18 15:16] dima-engineer commented on #204
If I understand correctly, the library doesn't support JSON array body for now at all. It means that every request to the endpoints with array in body are going to trow this exception

[2022-02-18 15:20] kemingy commented on #204
Hi @dima-engineer, thanks for your feedback. Can you provide a minimal reproducible example?

[2022-02-18 15:34] dima-engineer commented on #204
class SomeModel(BaseModel):
    __root__: List[int]

@bp.route('/some-path', methods=['POST'])
@api.validate(json=SomeModel)
def example():
    return "Hello"

[2022-02-18 15:35] dima-engineer commented on #204
Request body:
[code]

[2022-02-18 15:43] dima-engineer commented on #204
Thank you for thunderbold-fast answer @kemingy

[2022-02-18 15:44] kemingy commented on #204
I see. I forget JSON body can be a list and `pydantic` supports `__root__`.

Will fix this. Thanks.

[2022-02-18 15:45] dima-engineer commented on #204
Appreciate it

[2022-02-18 17:18] dima-engineer commented on #204
Yep! That works for me

[2022-02-21 10:44] dima-engineer commented on #204
Hi @kemingy, could you please create a release with this fix?

[2022-02-21 15:33] #204 closed

[2022-02-22 05:52] #119 closed

[2022-02-28 11:21] 874890089 opened #208 "[BUG]API schema is not updated for enums and objects nested inside the dependency (only request body schema)"
**Describe the bug**
If a enum is defined in a dependency model and the Field pydantic model type is used the Schema generated is not updated

**To Reproduce**
The code snippet to generate the behavior
from enum import Enum
from random import random

from flask import Flask, abort, jsonify, request
from flask.views import MethodView
from pydantic import BaseModel, Field

from spectree import Respo

[2022-03-01 12:41] kemingy commented on #208
I found that in the `Schemas` it has all the information. I suspect it's a frontend-related bug. Let me try to figure it out.

![image](https://user-images.githubusercontent.com/12974685/156170499-f9137bfc-5004-4406-9cd5-323229f5ec6d.png)

Here is the formatted code:

[code]

[2022-03-09 10:31] 874890089 commented on #208
Hi @kemingy any update on the issue?

[2022-03-10 02:19] kemingy commented on #208
Hi @874890089, I checked the generated OpenAPI JSON file, it's correct.

<details>
<summary>Click to expand the code example:</summary>
<p>

[code]

</p>
</details>

You can see that they all link to the same definition in "components"/"schemas".

I found a related issue https://github.com/tiangolo/fastapi/issues/329. It has been fixed. But I'm not sure why it still exists.

[2022-03-15 06:21] 874890089 commented on #208
HI @kemingy it is true that the json schema is proper but the issue here is with swagger UI. If you cross check I have defined enum with type properly but the schema updated down in the schema section is not reflected with API model schema. So, I don't see any issues with the way we are integrating. could you please cross from UI side how is it been rendering?

[2022-04-21 10:58] yedpodtrzitko opened #213 "[feature] easier way to override `get_model_key()`"
Hi,
the function [utils.get_model_key](https://github.com/0b01001001/spectree/blob/9147598a03d12223fe3cdf1523d08d2390475e9c/spectree/utils.py#L220) is used for generating model IDs + their references in `openapi.json`. We try to use this as a source for generating matching models on a frontend (via `@rtk-query/codegen-openapi` ), but the model IDs are prefixed with sha1 hash (which can start with

[2022-04-21 16:33] yedpodtrzitko commented on #213
yes

that's what I was briefly looking into later on, and that would mean the (potentially custom) function `get_model_key` would need to be passed around in a few places, but it would give the user higher flexibility to generate the model key as they wish. I can understand the rationale for having the prefix, but it feels this scenario happens rarely (or I might be biased from scope of our projec

[2022-04-22 01:45] kemingy commented on #213
This looks good to me. Feel free to create a pull request for this change.

[2022-04-24 09:29] #160 closed

[2022-04-24 10:03] #213 closed

[2022-04-26 15:07] ttekampe opened #219 "bug in falcon plugin"
Hi,

since spectree v0.9.0 I get the following exception during unit tests of a falcon asgi web app.

I am using `falcon==3.1.0`

[code]

[2022-04-26 16:01] kemingy commented on #219
Thanks for your feedback. It seems #216 forgot to fix async falcon.

And I found that the async-falcon tests are all skipped. Will fix this later.

[2022-04-26 16:02] #219 closed

[2022-04-29 04:29] alexted commented on #96
Hey, guys! This feature is incredibly necessary! When are you going to do it? I really need it!
@sunlin92 @yoursvivek @kemingy where are you, guys? pls, do it!

[2022-04-30 02:44] kemingy commented on #96
`pydantic.parse_obj_as` seems a good solution for the `List[BaseModel]`. One more thing is how to generate the corresponding OpenAPI doc.

If we narrow it down to support `List[BaseModel]` only, it's possible to write a function to handle it.

Hi, @onecrayon are you still willing to take this one?

[2022-04-30 14:01] onecrayon commented on #96
Possibly; my app that leverages SpecTree has been lying fallow for a bit here, but I’ve been hoping to get back into it. I’ll let you know if I start actual coding on this, but don’t want to make any solid promises at this point.

[2022-04-30 16:19] kemingy commented on #96
After reading the source code of `pydantic.main.ModelMetaclass`, I found another way to do this:

[code]

[2022-04-30 16:29] alexted commented on #96
@kemingy It looks like some kind of crutches...and looks not `pythonic'.
Isn't there a way to do it literally like in FastAPI - to make it work by just wrapping the model in List[]?

[2022-04-30 16:45] kemingy commented on #96
That example is just an idea (also the real implementation). Check #222 for the interface.

[2022-04-30 17:41] alexted commented on #96
`
FLASK_APP = app.py
FLASK_ENV = development
FLASK_DEBUG = 0
In folder /home/alex/PycharmProjects/codero/flask-spectree
/home/alex/.cache/pypoetry/virtualenvs/flask-spectree-64sAPQko-py3.10/bin/python -m flask run
 * Serving Flask app 'app.py' (lazy loading)
 * Environment: development
 * Debug mode: off
Traceback (most recent call last):
  File "/usr/lib/python3.10/runpy.py", line 196, in _run_mo

[2022-05-01 11:25] kemingy commented on #96
Sorry I cannot reproduce this with Python 3.10

[2022-05-01 11:36] #96 closed

[2022-05-01 11:41] kemingy commented on #96
I have created a pre-release: https://github.com/0b01001001/spectree/releases/tag/v0.10.0a1

Can try to use this one to see if it can fulfill your requirements.

[2022-05-01 12:33] alexted commented on #96
Just what I needed, thank you!

[2022-05-01 14:01] alexted commented on #208
Hi @874890089
please fix the formatting in your first post - it is completely unreadable. nothing is understandable.

[2022-05-07 17:04] alexted commented on #204
I think it sounds like a problem https://github.com/0b01001001/spectree/issues/96

[2022-05-08 02:30] kemingy commented on #204
This one is related to PyPy support caused bugs.

[2022-05-18 08:57] alexted commented on #96
@kemingy what about update type hinting? ^^

[2022-05-18 09:55] yedpodtrzitko commented on #96
@alexted you know it's an open-source project, right?

[2022-05-19 16:40] gomeslucasm commented on #85
The problem is that spectree only parse request body for json on docs generation.
`
if hasattr(func, "json"):
        data = {"content": {"application/json": {"schema": {"$ref": f"#/components/schemas/{func.json}"}}}}
`
 In the request context, spectree convert both `request.form` and `request.json` in the same `request.context.json`.

I'm start to use spectree in my work and I made some modificat

[2022-05-19 16:47] gomeslucasm commented on #85
Are there some reasons for choosing to add both request.form or request.json in the same @api.validate(json=Schema)? Instead of declaring the two different schemas?

[2022-05-19 16:52] kemingy commented on #85
The request body can be either JSON data (maybe other serialized type) or a file.

There is a PR related to this:
* #185

This PR doesn't have activities for a long time. Hope we can work together to improve it.

[2022-05-29 04:06] yedpodtrzitko opened #226 "[BUG] `json` data required for GET request"
**Describe the bug**
`GET` requests cant provide data for `json` property of `validate()`, so it shouldnt be required/validated, but it seems to happen right now. See example below.

**To Reproduce**
consider following endpoint (in `tests/test_plugin_flask.py`).
This view can handle `GET` request or `POST` request. `json` property is relevant only for `POST` request, however even `GET` request tri

[2022-05-30 03:24] kemingy commented on #226
Hi @yedpodtrzitko, thanks for your contribution.

My colleagues tested positive for Covid-19 last weekend. I also had lunch with them. I don't feel very well but haven't confirmed yet. I may need to take a rest. Will try to review it as soon as possible.

[2022-05-30 03:32] yedpodtrzitko commented on #226
This sure can wait, I hope you'll get well soon 🤞

[2022-06-09 00:43] #226 closed

[2022-06-13 11:40] yedpodtrzitko opened #229 "logging in `default_after_handler` unusuble by default"
in `default_after_handler()` there's this logging for a validation error:

https://github.com/0b01001001/spectree/blob/ac3f20dac13f173d582ba7e2b6e015dcf0ae6fc3/spectree/utils.py#L193-L200

I might be missing something, but I dont see how this logging is useful unless I write my custom logging handler taking into account data from `extra`, or a custom `default_after_handler` where I call logging as

[2022-06-13 12:15] kemingy commented on #229
Good question.

There's a long history. In short:

1. some people don't like the `status code` in the HTTP header so they want to return everything with `status code == 200` and add the error messages in the HTTP body.
2. some people may need to record some metrics or add other error handling logic, so I provided the `before` and `after` handlers.

Can check the original PR:

* https://github.com/

[2022-06-24 15:12] yedpodtrzitko commented on #229
fixed via #233

[2022-06-24 15:12] #229 closed

[2022-07-11 22:08] MarkKoz opened #235 "Can the email validator dependency be optional?"
`EmailStr` is used for the contact info, but the field is optional. It's a waste to install these additional dependencies if I don't plan on supplying a value for this field, and don't plan on using `EmailStr` for my own API's models. Or maybe I do want to supply an email in the contact info, but don't value validation of it enough to justify the additional dependencies.

Is there a nice way to ma

[2022-07-12 01:43] kemingy commented on #235
Not sure how to make it optional. Even if you don't install the `email-validator`, there won't be an error until you call the `EmailStr` validation. Deleting it from the requirements file also works for most users.

But `email-validator` is a single file library without any other dependencies. I guess it's still okay to keep it here.

Feel free to propose a nicer way to handle it.

[2022-07-12 02:54] MarkKoz commented on #235
I'm not sure if I understood you. If I clone spectree and modify `requirements.txt` beforehand, then yes, that works. But it's not a practical solution.

It has two dependencies: https://github.com/JoshData/python-email-validator/blob/main/setup.cfg#L27-L29

I'm not sure what to do about avoiding installing the email validator. If spectree stops installing it by default, then it will be a breaking

[2022-07-12 03:11] MarkKoz commented on #235
Well, maybe not quite a breaking change, but it would be misleading for users that didn't get the memo on email validation no longer being enabled by default.

[2022-07-12 04:02] kemingy commented on #235
Thanks for pointing it out. I forgot the `setup.cfg` file.

I guess most users won't be affected by this change.

Feel free to open a PR.

[2022-07-12 04:39] MarkKoz commented on #235
Sure, I can make a PR. But what exactly is the change you're agreeing to? That the email validator becomes optional along with the code above e.g. `pip install spectree[email]`, akin to `pip install pydantic[email]`?

[2022-07-12 05:15] kemingy commented on #235
Thanks for your help.

Make the `email-validator` optional with `pip install spectree[email]`.

[2022-07-14 02:51] #235 closed

[2022-07-27 17:02] Joseda8 opened #240 "Deactive validation_error_status value"
Is there a way to remove the `validation_error_status` feature for specific endpoints?

Use case: A `GET` endpoint with no query parameters but path parameters only, so it will never be possible to return a `422` or any error with the `ValidationError` form.

[2022-07-28 13:39] bekishev04 opened #242 "error of werkzeug 2.2.0 version"
Error with  werkzeug >= 2.2.0 version

[code]

I found same issue here https://github.com/python-restx/flask-restx/issues/460

[2022-07-28 13:42] kemingy commented on #242
Thanks for your feedback.

* there is a hot fix #241

We will find a better way to fix it later.

[2022-07-28 13:53] bekishev04 commented on #242
Thanks, We will wait

[2022-07-29 11:34] yedpodtrzitko commented on #240
Hi,
I read this a few times but I'm still not sure if I fully understand what's the issue. Could you give a specific example where/how is `validation_error_status` causing the issue? Thanks

[2022-08-01 02:18] kemingy commented on #242
* fixed in #244

Although this is not a perfect solution, but we cannot find a better way for now. I guess werkzeug won't break the schema so this should work for a while.

Close this but feel free to reopen it if you have any other questions.

[2022-08-01 02:18] #242 closed

[2022-08-03 09:13] dmitry-engineer opened #246 "Werkzeug error"
I'm trying to use your library with Werkzeug==2.2.0 but getting error:
[code]
Could it be resolved?
Thank you

[2022-08-03 09:17] kemingy commented on #246
* Thanks for your feedback. This is fixed in #244.
* We are planning to release the `v1.0.0` so you can try the latest version with `pip install --pre spectree`. This should fix the werkzeug bug.

[2022-08-03 09:27] dmitry-engineer commented on #246
Ah, yes. I see, thank you very very much

[2022-08-03 09:28] dmitry-engineer commented on #246
Have you thought about implementation your library for Quart framework?

[2022-08-03 09:28] dmitry-engineer commented on #246
It's almost the same as Flask but ASGI

[2022-08-03 09:30] kemingy commented on #246
I'll open an issue to track this. But I cannot promise when I will work on that.

[2022-08-03 09:32] kemingy opened #247 "feat: support `quart` (ASGI `flask`)"
- [ ] support [quart](https://github.com/pallets/quart)

[2022-08-03 09:53] dmitry-engineer commented on #247
I will fork your repository and try to do this as well when I will have free time. I really love your library and I want to help in any way that I can.

[2022-08-03 09:58] kemingy commented on #246
I created a new release https://github.com/0b01001001/spectree/releases/tag/v0.10.4 so users who run `pip install spectree` will also get this fix.

Closing this.

[2022-08-03 09:58] #246 closed

[2022-08-03 10:00] kemingy commented on #247
Thanks. Feel free to ask questions here.

[2022-08-03 12:05] IlyaKalosha1 opened #248 "Flask multiple request body examples"
Hi,
is there a way to set multiple examples for body when using spectree with flask.
The example how it's done in FastAPI - https://fastapi.tiangolo.com/tutorial/schema-extra-example/#body-with-multiple-examples:~:text=%3A-,Body,examples,-%C2%B6

Thanks

[2022-08-04 09:30] kemingy commented on #248
Hi @IlyaKalosha1, thanks for asking. I checked the [FastAPI examples details](https://fastapi.tiangolo.com/tutorial/schema-extra-example/#technical-details) and [OpenAPI spec](https://swagger.io/specification/). I found this is not supported yet.

Reason:

* FastAPI added the `examples` to `"requestBody"/"content"/"application/json"/examples` (can support multiple examples) rather than the normal

[2022-08-04 13:27] kemingy opened #249 "improve falcon form data read part"
_Originally posted by @vytas7 in https://github.com/0b01001001/spectree/pull/225#discussion_r936042043_

[2022-08-23 19:00] kageurufu opened #254 "[BUG] pydantic custom root models error when generating a spec"
**Describe the bug**

When using a pydantic custom `__root__`, the base model has no properties, and errors when generating the spec.

**To Reproduce**

[code]

**Expected behavior**

The openapi spec should generate, showing the discriminated union types

**Error Message**

[code]

**Python Information (please complete the following information):**
 - Python Version 3.10
 - Library Version 0.10.5

[2022-08-24 02:26] kemingy commented on #254
Thanks for your feedback.

It looks like the `__root__` is not handled properly. I'll create a PR to fix this.

[2022-08-24 05:47] #254 closed

[2022-08-24 06:01] kemingy commented on #254
Hi @kageurufu, this has been fixed in the new release v0.10.6 or v1.0.0a1. You can try to upgrade. Feel free to reopen it if there is any problem.

[2022-08-24 19:33] kageurufu commented on #254
wow, thank you so much! I was going to dig into this more today myself

[2022-08-29 13:04] dima-engineer commented on #247
Hi! Could you please check my branch? This is something like a fast solution for Quart support. Not so elegant as it could be, honestly. But I tested it and seems like it works. https://github.com/0b01001001/spectree/compare/master...dima-engineer:spectree:dmitry/quart-plugin

[2022-08-29 13:06] dima-engineer commented on #247
I had to use nest-async as a workaround for async support. Otherwise, I'm afraid that there should the whole library to be overwritten.

[2022-08-29 14:53] kemingy commented on #247
Thanks for your contribution! This PR will take some time to review. I'll try to give some feedback as soon as possible.

[2022-09-02 01:59] kemingy commented on #247
You don't need to use `nest-async` in this library. For the async support, you can refer to the implementation of falcon async plugin: https://github.com/0b01001001/spectree/blob/a065c04e3c532733155d2bb9abe9169cda38f3fe/spectree/plugins/falcon_plugin.py#L254

Also, quart plugin should inherit from flask plugin, since they share a lot of the same code.

[2022-09-02 07:14] dima-engineer commented on #247
Ok. I will check on FalconAsgiPlugin. Thank you

[2022-09-13 07:48] dfkki123508 opened #258 "[QUESTION] Why are description strings joined with double newlines?"
For me it causes problems when trying to render markdown, e.g.

[code]

results in the spec as:

`"description": "| One | Two | Three | |-----|-----|-------| | a   | b   | c     |\n\n| One | Two | Three |\n\n|-----|-----|-------|\n\n| a   | b   | c     |"`

I did not find a possiblity to render single newlines. Can you help me?
PS: I am referring to this line: https://github.com/0b01001001/spectre

[2022-09-13 08:49] kemingy commented on #258
Hi, @dfkki123508 thanks for your feedback.

I think the `parse_comments` function doesn't support single newlines. There are two parts.

https://github.com/0b01001001/spectree/blob/f04c9b79927cf4bc39eaf3ae2694297e611af2ef/spectree/utils.py#L41

This line ensures that users can write long descriptions in multiple lines.

https://github.com/0b01001001/spectree/blob/f04c9b79927cf4bc39eaf3ae2694297e61

[2022-09-13 09:23] dfkki123508 commented on #258
Thanks for the quick answer! I think a workaround is probably to use html tags, but have to try it out :)

[2022-09-13 09:28] dfkki123508 opened #259 "[Feature request] Global validation error model override"
It would be really cool to not only be able to override the `validation_error_status` globally but also the __validation error model__. e.g.

[code]

What do you think? I would be happy to contribute.

BR

[2022-09-13 09:36] kemingy commented on #258
HTML should work. BTW, for this kind of Markdown flavor table, I guess I can only provide a `<code><\code>` HTML tag. I guess swagger/redoc won't render it to the real HTML table.

So, maybe using the HTML code directly will be better for your use case?

[2022-09-13 09:44] kemingy commented on #259
It has a global `before` function which will be called in `validate > before() > endpoint func > after() > response`.

[code]

Check the example: https://github.com/0b01001001/spectree/blob/bb96e101b10bc02daffa75a1b910a104811476e0/tests/test_plugin_flask.py#L26-L28

And the doc: https://0b01001001.github.io/spectree/utils.html#spectree.utils.default_before_handler

[2022-09-18 13:11] dfkki123508 commented on #259
Yes, I saw that you can intercept the error handling with before and after. However, in the docs there will always display the standard error model, but I want to override it with my own error model. Technically it is possible if I add the validation error response to every endpoint, but this is a lot of redundant work, so overriding the standard error model globally would be nice.

[2022-09-18 13:14] kemingy commented on #259
You don't have to override one by one. You can define the global `before` handle and it will work on all the endpoints.

[2022-09-18 14:08] dfkki123508 commented on #259
Sure, but I'm referring to the generated docs. There is no possibility to _globally_ override the standard validation error.

[2022-09-18 14:14] kemingy commented on #259
This is global:

This is a specific function:

[code]

[2022-09-18 14:36] dfkki123508 commented on #259
No this is not what I mean :smile: Sorry, for the confusion. I try to explain in a different way: This [line](https://github.com/0b01001001/spectree/blob/master/spectree/spec.py#L224) adds the validation error to the responses which is later used in `spec._generate_spec`. So the api docs for every endpoint (not overriding 422 response) will look like this:
[code]
So I want to tell spectree to use

[2022-09-21 17:03] Joseda8 opened #261 "[Question] Is it possible to load the Swagger UI offline?"
The service I'm making runs on the localhost with not necessarily access to Internet. When I open the Swagger endpoint in the browser I can see the next messages in the console:

[code]

So I want to know... How to load the Swagger interface offline?

[2022-09-22 00:09] kemingy commented on #261
Thanks for asking. I think it's possible if we package the related frontend source code into the Python package.

Does that mean you can access internal PyPI but cannot access other websites?

[2022-09-22 14:41] Joseda8 commented on #261
Yes! I think that's the solution.

Exactly. I'm running my service in a device with no Internet connection.

[2022-10-05 10:14] dima-engineer commented on #247
Hi @kemingy ! Finally I found time to fix the quart plugin according to the comments you left above.
https://github.com/0b01001001/spectree/compare/master...dima-engineer:spectree:dmitry/quart-plugin
See, please!

[2022-10-06 05:23] yedpodtrzitko commented on #247
@dima-engineer can you open a pull request from the branch please? It's easier to comment on the code that way. Thanks.

[2022-10-06 08:27] dima-engineer commented on #247
Sure! Here you go
https://github.com/0b01001001/spectree/pull/262

[2022-10-06 08:45] dima-engineer commented on #247
There are several methods which overlap FlaskPlugin methods only because of different imports at the beginning of the method. I'm wondering if we can avoid this somehow

[2022-10-09 20:32] harish2704 opened #263 "[BUG] generated operationId should not contain slash"
**Describe the bug**
In my understanding, `operationId` used openapi spec basically serves the purpose of a `method name` . If that is correct, it should not contain slash ( "`/`"). But currently, generated operationId will contain slash because it is derived from `path` used in the router. This slash can break generated HTML documentation ( it at-least breaks the `html2` generator )

**To Reprodu

[2022-10-10 02:36] #263 closed

[2022-10-17 00:14] jaykv commented on #261
You can pair spectree with https://github.com/sveint/flask-swagger-ui for now. Not a perfect solution, but an easy workaround.

Here's a quick example: https://gist.github.com/jaykv/cd9afb91fa5a2fafc206345b7dd4b984

[2022-10-17 10:41] #247 closed

[2022-11-04 16:08] bekishev04 opened #270 "[BUG] SecurityScheme(name="auth_apiKey)"
I dont know this is bug of spec_tree or openapi.

I use SecurityScheme like here [https://github.com/0b01001001/spectree/blob/master/tests/common.py#L84](https://github.com/0b01001001/spectree/blob/master/tests/common.py#L84). But when i use this scheme and I register the token in the documentation (/apidoc/swagger). The token is not in the headers. I dont see it anywhere

Code example
[code]

[2022-11-06 05:03] kemingy commented on #270
I'm using the [examples/security_demo.py](https://github.com/0b01001001/spectree/blob/master/examples/security_demo.py).

You can login through the swagger frontend at `http://localhost:8000/apidoc/swagger/#/default/post__ping` and print the header in the `/ping`.

It should work. Let me know if you have any trouble.

This is what I got:

[code]

You can see the `Authorization: Bearer xxx`.

[2022-11-07 16:15] pablomaribondo opened #271 "[Question] It's possible to use marshmallow instead of pydantic to define schemas?"

[2022-11-08 03:53] kemingy commented on #271
Yes, it's possible. But we need to implement a method to convert the marshmallow object to an OpenAPI dictionary. Similar to the `pydantic.BaseModel().schema()`.

[2022-11-09 07:53] bekishev04 commented on #270
If i use Bearer token i have not the problem. I see it in headers. But i try to use

[code]

And i don't see that in header

[2022-11-09 10:08] issamemari opened #273 "[BUG] Spectree flask plugin is logging request validation errors twice"
**Describe the bug**
Spectree flask plugin is logging validation errors twice: once in [`default_before_handler`](https://github.com/0b01001001/spectree/blob/master/spectree/utils.py#L182) and once in [`default_after_handler`](https://github.com/0b01001001/spectree/blob/master/spectree/utils.py#L203).

This can be seen on this [line in the implementation of flask_plugin.py](https://github.com/0b01

[2022-11-09 13:51] kemingy commented on #259
@alexted May I know your use case?

[2022-11-09 14:24] kemingy commented on #273
After rechecking the logic, I think we should rm the `after` handler in line 196 https://github.com/0b01001001/spectree/blob/f85762af1a11b361be8b6ceffb7e2f2d39c5cb3d/spectree/plugins/flask_plugin.py#L194-L198

Hi @natasha-aleksandrova, I think you should use `before` handler here. BTW, the response body is also a JSON when aborting. But I'm not sure if you have some different JSON schemas.

[2022-11-09 14:37] kemingy commented on #270
Still cannot reproduce with the [examples/security_demo.py](https://github.com/0b01001001/spectree/blob/master/examples/security_demo.py).

[code]

I can get the `Partner-Id` and `Partner-Access-Token` (type=apiKey).

[2022-11-09 15:57] vytas7 commented on #249
@kemingy I'm happy to help or at least advise, but could you shed some light on Spectree's design wrt my questions above. What type of data from a multipart form is typically sent to the validator?

[2022-11-10 00:17] jsmoliak opened #275 "[Question] Is it possible to specify a BaseModel class as a Redoc Model?"
In the [Redoc Interactive Demo](http://redocly.github.io/redoc/), specific data models can be categorized under the "MODELS" tag. Does spectree provide a method to pull in / mark a BaseModel class as a model for redoc to illustrate?

See [The Pet Model](http://redocly.github.io/redoc/#tag/pet_model) as an example.

![image](https://user-images.githubusercontent.com/15694939/200969176-cfb046a8-8843

[2022-11-10 16:06] kemingy commented on #249
Thanks! Here is the current implementation for the form file type:
https://github.com/0b01001001/spectree/blob/3deaf0009ccdbb914aed6c0d3994edc5130e2dae/spectree/models.py#L173-L192

In my option, I would prefer to leave the large form body to falcon (since it's already there). I feel SpecTree doesn't really "validate" the body. I wonder if SpecTree should provide a struct that when users try to re

[2022-11-10 16:19] vytas7 commented on #249
I see. Falcon offers parsing on-the-fly without buffering anything anywhere, so spooling to a temp file should be built in the Spectree plugin, if this is desired.

[2022-11-19 02:41] #259 closed

[2022-11-22 19:29] dfkki123508 commented on #259
Awesome thanks!

[2022-11-25 08:30] cardin commented on #261
A very hackish way is to overwrite spectree/page.py before SpecTree is instantiated.

[code]

[2022-11-29 13:05] gwaramadze opened #283 "Potentially leaky tests"
When I was contributing I noticed a strange behavior when testing. It can be easily reproduced:
[code]

this is green, but this:
[code]

gives
[code]

I don't have much time to investigate, but it is something you might want to take a look at as it indicates that at least one test relies on a global scope.

[2022-11-29 13:47] kemingy commented on #283
Thanks for your feedback. Will fix this.

[2022-11-29 13:51] #283 closed